& {
  $font-size:$base-font-size * .95;
  //$guttered:true;
  //@include gallery(10 of 30);
  >.container {
    //@include gutter;
    //@import 'partials/fontreset';
    @include adjust-font-size-to($font-size);
    @include fontreset($font-size,true,false);
    // TODO
    @include clearfix;
    @include leader(1);
    @include trailer(1);
    //@include rhythm-borders(0,1);
    @include padding-trailer(1);
    //@include horizontal-borders(0,1);
    background-color:$article-background-color;
    @include box-shadow;
    >.image {
      //@include span(4 of 30);
      //@include gutter;
      //@include trailer(1);
      >.background {
        display:block;
        //width:span(4 of 30);
        background-color:$article-image-background-color;
        height:rhythm(7);
        background-position:center center;
        @include background-size(cover);
      }
    }
    >.header,
    >.content {
      @include pad(1);
    }
    >.header {
      //@include span(26 of 30);
      >.container {
        time {
          display:none;
          //font-weight:bold;
        }
        h1 {
          //@include gutter;
          $font-size:$base-font-size * 1.25;
          @include adjust-font-size-to($font-size);
          @include leader(1);
          @include trailer(1);
          //font-weight:normal;
        }
      }
    }
  }
}
