$old-sunlight:         #f8ff73;
$lemon:                #d3da5d;
$end-of-the-day:       #f3f797;
$mezz:                 #ff914d;
$nail-polished-leaves: #ffbb4d;

$default-box-shadow-color:rgba(0,0,0,.125);
$default-text-shadow-color: $default-box-shadow-color;

//$background-color: $end-of-the-day;
$background-color: lighten($end-of-the-day,15%);
$dummy-color: $old-sunlight;

$article-image-background-color:$dummy-color;
$article-background-color:#fff;

$footer-background-color: $mezz;
$footer-color:#eee;
$footer-h1-color:#fff;

$slide-background-color: $dummy-color;

//$writer-header-background-color:$dummy-color;
$writer-header-background-color:#000;
$writer-header-color:#fff;

$nav-about-first-color: #e74c3c;
$nav-gallery-first-color: #2980b9;
$nav-column-first-color: #16a085;
$nav-essay-first-color: $nail-polished-leaves;
$nav-letter-first-color: #8e44ad;

$article-header-hmain-background-color:transparent;
$article-header-image-color:#fff;
$article-header-image-background-color: $dummy-color;

/*
$nav-header-background-color:$nail-polished-leaves;
$nav-header-color:#fff;
$nav-header-icon-background-color:$mezz;
*/
$nav-header-background-color:inherit;
$nav-header-color:inherit;
$nav-header-icon-background-color:inherit;
$nav-header-border-color:$default-box-shadow-color;

$article-nextprev-border-color:$nav-header-border-color;
$article-location-background-color:$article-background-color;
$article-location-image-background-color:$dummy-color;
$article-location-map-background-color:$article-location-image-background-color;

$writer-single-icon-background-color:$dummy-color;
$writer-single-icon-border-color:$footer-color;

$circle-image-background-color:$dummy-color;

$gallery-card-background-color:$article-background-color;
