$old-sunlight:         #f8ff73;
$lemon:                #d3da5d;
$end-of-the-day:       #f3f797;
$mezz:                 #ff914d;
$nail-polished-leaves: #ffbb4d;

$background-color: $end-of-the-day;
$dummy-color: $old-sunlight;

$article-image-background-color:$dummy-color;
$article-background-color:#fff;

$footer-background-color: $mezz;
$footer-color:#eee;
$footer-h1-color:#fff;

$slide-background-color: $dummy-color;

$writer-header-background-color:$dummy-color;
$writer-header-color:inherit;

$nav-about-first-color: red;
$nav-gallery-first-color: blue;
$nav-column-first-color: green;
$nav-essay-first-color: yellow;
$nav-letter-first-color: purple;

$article-header-image-color:#fff;
$article-header-image-background-color: $dummy-color;
