//$footer-background-color:$wetasphalt;
@mixin footer-breakpoint($layout: default) {
  >.container {
    //@include container;
  }
  .columns {
    @include container;
    .column {
      $span: susy-get(columns) / 4;
      @if $layout == default or $layout == tablet {
        @include span($span);
      }
    }
  }
  @if $layout != default and $layout != tablet {
    #footer_recent_articles,
    .column:not([id]) {
      display:none;
    }
  }
}

& {
  @include breakpoint($layout-default-breakpoint) {
    @include footer-breakpoint(default);
  }
  @include susy-breakpoint($layout-tablet-breakpoint, $layout-tablet) {
    @include footer-breakpoint(tablet);
  }
  @include susy-breakpoint($layout-phablet-breakpoint, $layout-phablet) {
    @include footer-breakpoint(phablet);
  }
  @include susy-breakpoint($layout-phone-breakpoint, $layout-phone) {
    @include footer-breakpoint(phone);
  }
}
& {
  background-color:$footer-background-color;
  color:$footer-color;
  $h1-font-size:1.25rem;
  $content-font-size:.9rem;
  //$font-size:1rem;
  >.container {
    //@include container;
  }
  .columns {
    .column {
      /*
      $max-column:susy-get(columns);
      $span:$max-column / 4;
      @include span($span of $max-column);
      */
      //height:rhythm(10);
      @include padding-leader(1);
      @include padding-trailer(1);
    }
    @include fontreset($content-font-size,true,false);
    h1 {
      $font-size:$h1-font-size;
      margin:0;
      @include adjust-font-size-to($font-size);
      color:$footer-h1-color;
    }
    ul {
      list-style-type:none;
      li {
        display:block;
        text-align:initial;
      }
    }
  }
  #footer_about {
    /*
    .footer_logo {
      @import 'partials/footer_logo';
    }
    */
    .circle_image {
      @include circle-image-sizing(6);
      margin:0 auto;
    }
    .content {
      $font-size:$content-font-size;
      @include adjust-font-size-to($font-size);
      //@include squish(1 of 10);
    }
    h1 {
      $font-size:$h1-font-size;
      @include leader(1,$font-size);
      //@include trailer(1,$font-size);
    }
  }
  #footer_recent_articles {
    .item {
      $font-size:$content-font-size;
      @include adjust-font-size-to($font-size);
      @include ellipsis(true);
    }
  }
  #footer_links {
    .item {
      $font-size:$content-font-size;
      $rhythm:1;
      @include adjust-font-size-to($font-size);
      >a {
        display:block;
        padding-left:rhythm($rhythm);
        position:relative;
        height:rhythm($rhythm);
      }
      i {
        line-height:inherit;
        display:block;
        text-align:center;
        height:rhythm($rhythm);
        width:rhythm($rhythm);
        position:absolute;
        top:0;left:0;bottom:0;
        right:auto;
      }
    }
  }
  .bottom {
    .copyright {
      display:block;
      text-align:center;
      $font-size:$content-font-size;
      @include adjust-font-size-to($font-size);
      @include padding-leader(1,$font-size);
      @include padding-trailer(1,$font-size);
    }
  }
}
