//$header-height:span(3);
@mixin header-breakpoint($layout: default) {
  >.container {
    $item-span: susy-get(columns) / 7;
    @if $layout != phone {
      @include container;
      >.left,
      >.right,
      >.center {
        height: rhythm($header-rhythm);
      }
      >.left,
      >.right {
        @include span($item-span);
      }
      >.center {
        $span: $item-span * 5;
        @include span($span nest);
      }
    } @else {
      >.left,
      >.right {
        @include gutters;
      }
    }
  }
  @if $layout == phone {
    //@include single-transition(max-height);
    bottom:0 !important;
    overflow:hidden;
    &:not([data-expanded]) {
      max-height: rhythm($header-rhythm);
    }
    &[data-expanded] {
      max-height: 100%;
    }
  }
}

& {
  @include breakpoint($layout-default-breakpoint) {
    @include header-breakpoint(default);
  }
  @include susy-breakpoint($layout-tablet-breakpoint, $layout-tablet) {
    @include header-breakpoint(tablet);
  }
  @include susy-breakpoint($layout-phablet-breakpoint, $layout-phablet) {
    @include header-breakpoint(phablet);
  }
  @include susy-breakpoint($layout-phone-breakpoint, $layout-phone) {
    @include header-breakpoint(phone);
  }
}
& {
  position:fixed;
  top:0;left:0;right:0;
  bottom:auto;
  $font-size:$header-font-size;
  font-size:$font-size;
  //font-weight:bold;
  >.container {
    //@include container;
    >.left,
    >.center,
    >.right {
      //height:$header-height;
      //height: rhythm($header-rhythm,$font-size);
    }
    >.left {
      //@include span(5);
      .logo {
        @import 'partials/logo';
      }
    }
    >.center {
      /*
      $columns: susy-get(columns);
      $span:$columns - (5 * 2);
      @include span($span of $columns nest);
      */
      #nav {
        @import 'partials/nav';
      }
    }
    >.right {
      //@include span(5);
    }
  }
  & {
    @include transition-property(color,background-color,box-shadow,text-shadow,max-height);
    @include transition-duration;
    @include transition-timing-function(ease);
  }
  & {
    //background-color:rgba(255,255,255,0);
    color:#000;
  }
  body:not([data-scrolled-main]) & {
    color:#fff;
    background-color:rgba(255,255,255,0);
    @include text-shadow;
    @include single-box-shadow(rgba(0,0,0,0),0,0,0,$default-box-shadow-spread,$default-box-shadow-inset);
  }
  body[data-scrolled-main] & {
    color:#000;
    background-color:rgba(255,255,255,.75);
    @include single-text-shadow(0,0,0,$default-text-shadow-spread,rgba(0,0,0,0));
    @include box-shadow;
  }
}
