@charset 'UTF-8';
@import 'compass';
@import 'breakpoint';
//@import '../../bower_components/fontawesome/scss/font-awesome.scss';

$susy: (
  column-width: 24px,
  columns: 44,
  gutters: 3/8,
  math: static,
  container-position: center,
  gutter-position: split,
  global-box-sizing: content-box,
  debug: (
    image: show,
    color: rgba(255,0,0,.25),
    output: overlay,
    toggle: top right
  )
);

$rhythm-unit: 'rem';
$relative-font-sizing:false;
$rem-with-px-fallback: true;
$base-font-size:16px;
$base-line-height:24px;

$default-transition-duration:.25s;
$default-transition-function:ease;

$default-box-shadow-h-offset:0;
$default-box-shadow-v-offset:1px;
$default-box-shadow-blur:3px;

$default-text-shadow-h-offset: $default-box-shadow-h-offset;
$default-text-shadow-v-offset: $default-box-shadow-v-offset;
$default-text-shadow-blur: $default-box-shadow-blur;

@import 'susy';
@import 'animate';

/* * * * * * * * * * * * */

$layout-default-breakpoint: container($susy);

$layout-tablet: 36;
$layout-tablet-min-width:  container($layout-tablet);
$layout-tablet-max-width:  $layout-default-breakpoint - 1px;
$layout-tablet-breakpoint: $layout-tablet-min-width $layout-tablet-max-width;

$layout-phablet: 18;
$layout-phablet-min-width:  container($layout-phablet);
$layout-phablet-max-width:  $layout-tablet-min-width - 1px;
$layout-phablet-breakpoint: $layout-phablet-min-width $layout-phablet-max-width;

$layout-phone: 9;
$layout-phone-min-width:  container($layout-phone);
$layout-phone-max-width:  $layout-phablet-min-width - 1px;
$layout-phone-breakpoint: $layout-phone-min-width $layout-phone-max-width;

/* * * * * * * * * * * * */

$sidebar-right-span: (
  default: 12,
  tablet:  12,
  phablet: 0,
  phone:   0
);

/* * * * * * * * * * * * */

/*
$wetasphalt:#34495e;
$sunflower:#f1c40f;
$pomegranate:#c0392b;
$belizehole:#2980b9;
$emerald:#2ecc71;
$amethyst:#9b59b6;
*/
@import 'colors';

$header-rhythm:3;
$header-font-size:1.25rem;

//$article-text-font-size:.9em;

//$slide-height:span(16);
//$writers-vertical-padding:gutter();

//$writer-header-height:span(4);
//$writer-text-font-size: $article-text-font-size;
//$writer-vertical-padding:$writers-vertical-padding;
//$writer-text-min-height:span(2);
//$writer-text-padding-top:gutter();

$tag-header: (
  height: 14,
  color: #fff,
  background-color: $dummy-color
);
$tag-lr: (
  right-span: 12
);

@mixin fontreset($font-size,$guttered,$setleader: true) {
  h1,h2,h3,h4,h5,h6,
  p,blockquote,
  ul,ol {
    margin:0;
    padding:0;
    font-size:1em;
    @if not $guttered {
      @include gutter;
    }
    //@include rhythm(1);
    //@include trailer(1);
  }
  h1 {
    $font-size:1.75rem;
    @include adjust-font-size-to($font-size);
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
  h2 {
    $font-size:1.5rem;
    @include adjust-font-size-to($font-size);
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
  h3 {
    $font-size:1.25rem;
    @include adjust-font-size-to($font-size);
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
  h4 {
    $font-size:1.2rem;
    @include adjust-font-size-to($font-size);
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
  h5 {
    $font-size:1.15rem;
    @include adjust-font-size-to($font-size);
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
  h6 {
    $font-size:1.1rem;
    @include adjust-font-size-to($font-size);
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
  p,blockquote {
    @if $setleader {
      @include padding-leader(1,$font-size);
    }
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin gpu-acceleration {  
  @include transform3d( translate3d(0,0,0) );
}

$circle-image-rhythm:5;
$circle-image-border-width:3px;

@mixin circle-image-sizing($rhythm: $circle-image-rhythm, $border-width: $circle-image-border-width) {
  $size:rhythm($rhythm);
  border-width:$border-width;
  &, &>.container {
    width:$size;
    height:$size;
  }
  >.container {
    margin:-($border-width);
  }
}

/* * * * * * * * * * * * */

@mixin blog-sidebar-sizing($layout: default) {
  >.container {
    @include container;
  }
  $left-span:  sidebar-left-span($layout);
  $right-span: sidebar-right-span($layout);
  @if $layout == phablet or $layout == phone {
    $left-span: susy-get(columns);
    $right-span:0;
    #right {
      display:none;
    }
  }
  #left {
    @include span($left-span nest);
  }
  #right {
    @include span($right-span nest);
    >.container {
      @include prefix(1);
    }
  }
  #nextprev {
    .item {
      $span:$left-span / 3;
      @include span($span of $left-span);
    }
  }
  #locations {
    .location {
      $left-column:  11;
      @if $layout == phone {
        $left-column: $left-span
      }
      $right-column: $left-span - $left-column;
      >.container {
        @include container($left-span);
      }
      .left {
        @include span($left-column of $left-span);
      }
      .right {
        @include span($right-column of $left-span);
      }
    }
  }
}

@function sidebar-right-span($layout: default) {
  @return map-get($sidebar-right-span, $layout);
}
@function sidebar-left-span($layout: default) {
  @return susy-get(columns) - sidebar-right-span($layout);
}