//$nav-height: $header-height;

& {
  >.container>ul {
    //height:$nav-height;
  }
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
    @include clearfix;
  }
  li {
    display:block;
    text-align:initial;
  }
  .item {
    @include span(6 of 30);
    >.container {
      display:block;
    }
    .text,
    .icon {
      display:block;
      //line-height:$nav-height;
    }
    .icon {
      display:none;
    }
    .text {
      text-align:center;
      @include rhythm( ($header-rhythm - 1) / 2 );
    }
    &.about .text:first-letter {
      color:$pomegranate;
    }
    &.gallery .text:first-letter {
      color:$belizehole;
    }
    &.column .text:first-letter {
      color:$emerald;
    }
    &.essay .text:first-letter {
      color:$sunflower;
    }
    &.letter .text:first-letter {
      color:$amethyst;
    }
  }
}
