& {
  #whats {
    position:relative;
    >.background {
      position:absolute;
      top:0;left:0;right:0;bottom:0;
      & {
        background-position:center center;
        @include background-size(cover);
        opacity:.125;
      }
      img {
        display:none;
      }
      iframe {
        width:100%;
        height:100%;
      }
    }
    >.container {
      position:relative;
      @include padding-leader(10);
      @include padding-trailer(10);
    }
    .circle_image {
      margin:0 auto;
      @include circle-image-sizing(10);
    }
    .content {
      $left-span:10;
      $right-span:$left-span;
      @include container;
      .text {
        /*
        @include prefix($left-span);
        @include suffix($right-span);
        */
        @include squish($left-span);
        @include padding-leader(3);
        //@include padding-trailer(3);
      }
    }
  }
  #about_writers {
    >.container {
      
    }
  }
}