//$article-header-image-height:span(7);

& {
  //$max-span:susy-get(columns);
  //$right-span:12;
  //$left-span:$max-span - $right-span;
  @include padding-leader(1);
  /*
  >.container {
    @include container;
  }
  #left {
    @include span($left-span of $max-span nest);
  }
  #right {
    @include span($right-span of $max-span);
    >.container {
      @include prefix(1);
    }
  }
  */
  @include breakpoint($layout-default-breakpoint) {
    @include blog-sidebar-sizing(default);
  }
  @include susy-breakpoint($layout-tablet-breakpoint, $layout-tablet) {
    @include blog-sidebar-sizing(tablet);
  }
  @include susy-breakpoint($layout-phablet-breakpoint, $layout-phablet) {
    @include blog-sidebar-sizing(phablet);
  }
  @include susy-breakpoint($layout-phone-breakpoint, $layout-phone) {
    @include blog-sidebar-sizing(phone);
  }
  #writers {
    .writer {
      //@import 'partials/writer';
    }
  }
  #article {
    >.container {
      >.header {
        >.container {
          
        }
        #image {
          @include gutter;
          .container {
            //position:relative;
            //height:$article-header-image-height;
            //height:rhythm(13);
            color:$article-header-image-color;
            background-color:$article-header-image-background-color;
          }
          .background {
            position:absolute;
            top:0;left:0;right:0;bottom:0;
            background-position:center center;
            @include background-size(cover);
            img {
              display:none;
            }
          }
          h1 {
            margin:0;
            font-size:inherit;
            @include adjust-font-size-to(1.5rem);
            @include gutter;
            position:absolute;
            top:auto;left:auto;
            right:0;bottom:0;
          }
        }
        #hmain {
          & {
            //background-color:#fff;
            background-color:$article-header-hmain-background-color;
            @include gutter;
            //@include rhythm-borders(0,1);
            @include horizontal-borders(0,1);
            @include pad(1);
          }
          >.container {
          }
          @include fontreset(1rem,true,false);
          time {
            display:block;
          }
        }
      }
      >.main {
        #content {
          @include pad(1);
          >.container {
            $font-size:.95rem;
            $guttered: false;
            & {
              font-size:$font-size;
              @include adjust-font-size-to($font-size);
              @include fontreset($font-size,$guttered);
              @include padding-trailer(1,$font-size);
            }
            /*
            .flickrembed {
              display:block;
              & {
                width:auto;height:auto;
                margin:0;padding:0;
              }
              & {
                / *
                $span:$left-span - 2;
                width:span($span);
                height:rhythm(20,$font-size);
                * /
              }
            }
            */
          }
        }
      }
      >.footer {
        >.container {
          @include padding-leader(2);
          @include padding-trailer(3);
        }
        #nextprev {
          @include horizontal-borders(1px,1);
          @include trailer(1);
          border-color:$article-nextprev-border-color;
          >.container {
            @include clearfix;
          }
          .item {
            $height:rhythm(1);
            & {
              /*
              $span:$left-span / 3;
              @include span($span of $left-span);
              */
            }
            &,&>.container {
              display:block;
            }
            >.container {
              position:relative;
              padding:0 $height;
              height:$height;
            }
            .navicon,
            .image,
            .text {
              display:block;
            }
            .navicon,
            .image {
              width:$height;
              height:$height;
            }
            .navicon {
              text-align:center;
              position:absolute;
              top:0;bottom:0;
              left:auto;right:auto;
              i {
                line-height:$height;
              }
            }
            .image {
              display:none;
              @include background-size(cover);
              background-position:center center;
              img {
                display:none;
              }
            }
            .text {
              @include ellipsis(true);
            }
            &[data-position="1"] {
              .navicon {
                left:0;
              }
              .text {
                text-align:left;
              }
            }
            &[data-position="2"] {
              .image {
                margin:0 auto;
              }
              .navicon {
                display:none;
              }
              .text {
                text-align:center;
              }
            }
            &[data-position="3"] {
              .navicon {
                right:0;
              }
              .image {
                margin-left:auto;
              }
              .text {
                text-align:right;
              }
            }
          }
        }
        #locations {
          .location {
            @include fontreset(1rem,true,false);
            //$left-column:11;
            >.container {
              background-color:$article-location-background-color;
              @include box-shadow;
              //@include clearfix;
            }
            .left {
              //@include span($left-column of 30);
              $height:rhythm(7);
              >.container {
                @include pad(1);
                >.pad {
                  position:relative;
                  height:$height;
                  &:not(:hover) {
                    .image {
                      opacity:1;
                    }
                    .map {
                      opacity:0;
                    }
                  }
                  &:hover {
                    .image {
                      opacity:0;
                    }
                    .map {
                      opacity:1;
                    }
                  }
                }
              }
              .image,
              .map {
                position:absolute;
                top:0;left:0;right:0;bottom:0;
                @include single-transition(opacity);
                background-position:center center;
                img {
                  display:none;
                }
              }
              .image {
                background-color:$article-location-image-background-color;
                @include background-size(cover);
              }
              .map {
                background-color:$article-location-map-background-color;
                @include background-size(contain);
              }
            }
            .right {
              //@include span( (30 - $left-column) of 30);
              >.container {
                @include post(1);
              }
            }
            .left,
            .right {
              @include padding-leader(1);
              @include padding-trailer(1);
            }
            .header {
              h1,
              .address {
                @include ellipsis(true);
              }
              h1 {
                
              }
              .address {
                @include adjust-font-size-to(.8rem);
              }
            }
            .main {
              >.text {
                @include padding-leader(1);
                @include padding-trailer(1);
              }
              .items {
                .item {
                  $height:rhythm(1);
                  &,&>.container {
                    display:block;
                  }
                  >.container {
                    height:$height;
                    padding-left:$height;
                    position:relative;
                  }
                  .icon,
                  .text {
                    display:block;
                    line-height:$height;
                  }
                  .icon {
                    width:$height;
                    height:$height;
                    text-align:center;
                    position:absolute;
                    top:0;left:0;bottom:0;
                    right:auto;
                  }
                  .text {
                    @include ellipsis(true);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
