@mixin gallery-layout-breakpoint($layout: default) {
  #gallery_map {
    @if $layout == default {
      min-height:rhythm(32);
    } @else if $layout == tablet {
      min-height:rhythm(18);
    } @else {
      min-height:rhythm(16);
    }
  }
  #items {
    .location {
      @include container;
      >.gallery-card {
        $card-span: 12;
        @if $layout == default or $layout == tablet {
          @include span($card-span nest);
        }
      }
    }
  }
}

& {
  @include breakpoint($layout-default-breakpoint) {
    @include gallery-layout-breakpoint(default);
  }
  @include susy-breakpoint($layout-tablet-breakpoint, $layout-tablet) {
    @include gallery-layout-breakpoint(tablet);
  }
  @include susy-breakpoint($layout-phablet-breakpoint, $layout-phablet) {
    @include gallery-layout-breakpoint(phablet);
  }
  @include susy-breakpoint($layout-phone-breakpoint, $layout-phone) {
    @include gallery-layout-breakpoint(phone);
  }
}
& {
  >.container {
    //@include container;
  }
  #gallery_map {
    //min-height:rhythm(32);
  }
  #items {
    .location {
      @include padding-leader(1);
      @include padding-trailer(1);
      //@include container;
      >.gallery-card {
        //@include span(12 nest);
      }
      & {
        .gallery-card {
          opacity:0;
          @include single-transition(opacity);
        }
      }
      &:not([data-selected]) {
        display:none;
        .gallery-card {
        }
      }
      &[data-selected] {
        display:block;
        &[data-selected="1"] .gallery-card {
          opacity:1;
        }
      }
    }
    .gallery-card {
      /*
      @include padding-leader(1);
      @include padding-trailer(1);
      @include pad(1);
      */
      $font-size:$base-font-size * .9;
      @include adjust-font-size-to($font-size);
      @include fontreset($font-size,true,false);
      >.container {
        @include box-shadow;
        background-color:$gallery-card-background-color;
        @include rhythm(1);
        @include squish(1);
        //@include post(1);
      }
    }
    .location-card {
      .header,
      .main,
      .footer {
        @include pad(1);
      }
      .header,
      .footer {
        @include padding-leader(1);
        @include padding-trailer(1);
      }
      .header {
        h1 {
          @include ellipsis(true);
          overflow:hidden;
        }
      }
      .main {
        height:rhythm(5);
        @include ellipsis(false);
        overflow:hidden;
      }
      .footer {
        a {
          display:block;
          @include ellipsis(true);
        }
        .fa {
          margin-right:.25em;
          line-height:inherit;
        }
      }
    }
    .photo-card {
      >.container {
        @include pad(1);
        @include padding-leader(1);
        @include padding-trailer(1);
      }
      .image {
        @include background-size(contain);
        background-position:center center;
        background-repeat:no-repeat;
        height:rhythm(10);
        img {
          display:none;
        }
      }
    }
  }
}