@mixin letter-layout-breakpoint($layout: default) {
  #letter_form,
  #letter_thankyou {
    >.container {
      @include container;
    }
  }
  #letter_thankyou {
    .card {
      h1 {
        @if $layout == default or $layout == tablet {
          @include pad(4);
        } @else if $layout == phone {
          @include adjust-font-size-to($base-font-size * 1.25);
        }
      }
      .main {
        $pad: 10;
        @if $layout == tablet {
          $pad: 5;
        } @else if $layout == phablet or $layout == phone {
          $pad: 1;
        }
        @include pad($pad);
      }
    }
  }
  #letter_form {
    .form {
      iframe {
        @if $layout == default or $layout == tablet {
          min-height:rhythm(30);
        } @else {
          min-height:rhythm(55);
        }
      }
    }
  }
}

& {
  @include breakpoint($layout-default-breakpoint) {
    @include letter-layout-breakpoint(default);
  }
  @include susy-breakpoint($layout-tablet-breakpoint, $layout-tablet) {
    @include letter-layout-breakpoint(tablet);
  }
  @include susy-breakpoint($layout-phablet-breakpoint, $layout-phablet) {
    @include letter-layout-breakpoint(phablet);
  }
  @include susy-breakpoint($layout-phone-breakpoint, $layout-phone) {
    @include letter-layout-breakpoint(phone);
  }
}
#letter_form,
#letter_thankyou {
  @include fontreset($base-font-size,true,false);
  >.container {
    //@include container;
    @include padding-leader(1);
    @include padding-trailer(1);
  }
}
#letter_form .form,
#letter_thankyou .card {
  @include gutters;
  background-color:#fff;
  @include box-shadow;
  >.container {
    @include padding-leader(1);
    @include padding-trailer(1);
  }
}
#letter_form {
  .form {
    @include pad(1);
    iframe {
      display:block;
      width:100%;
      height:100%;
      //min-height:rhythm(30);
    }
  }
}
#letter_thankyou {
  .card {
    overflow:hidden;
    >.container {
      position:relative;
    }
    h1,p {
      
    }
    h1 {
      //@include pad(4);
      text-align:center;
      span {
        display:block;
      }
    }
    p {
      @include leader(1);
    }
    .background {
      position:absolute;
      top:0;left:0;right:0;bottom:0;
      background-position:right bottom;
      background-repeat:no-repeat;
      @include background-size(25% auto);
      @include transform( rotate(22.5deg) translateX(5%) translateY(-25%) );
    }
    .main {
      position:relative;
      //@include pad(10);
    }
  }
}