@import 'partials/init';

@include establish-baseline;

html,body {
  height:100%;
  height:100vh;
}
body {
  font-family:
    'Verdana',
    'YuGothic', 'Yu Gothic', '游ゴシック',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    'Meiryo', 'メイリオ',
    sans-serif;
  background-image:url('../images/photography.transparentize/photography.png');
  background-repeat:repeat;
  background-color:#ffffe0;
  background-color:$background-color;
  @include adjust-font-size-to(1rem);
}
#wrapper {
  min-height:100%;
  min-height: 100vh;
  position:relative;
}

a {
  text-decoration: inherit;
  color: inherit;
}

#mainborder {
  display:block;
  height:0;
}

#header {
  @import 'partials/header';
}

#footer {
  @import 'partials/footer';
}

#main {
  padding-top:rhythm($header-rhythm);
}

#home {
  @import 'partials/layouts/home';
}

#about {
  @import 'partials/layouts/about';
}
#gallery {
  @import 'partials/layouts/gallery';
}

#single {
  @import 'partials/layouts/blog';
}
#home #content #right #writers .writer,
#single #right #writers .writer {
  @import 'partials/writer';
}

.nav_header {
  @import 'partials/nav_header';
}

#writers {
  @import 'partials/layouts/writers';
}

#home #content #articles .article,
#writers #writer_single > .container > #articles .article {
  @import 'partials/article';
}

.circle_image {
  @import 'partials/circle_image'
}

/*
#home #content #articles .article > .container {
  $font-size:.95rem;
  $guttered: false;
  @import 'partials/fontreset';
}
*/
/*
#single #article > .container > .main #content > .container {
  $font-size:.95rem;
  $guttered: true;
  @import 'partials/fontreset';
}
*/

@import 'z_index';

@include keyframes(show_slide_item) {
  0% {
    /*
    left:100%;
    right:-100%;
    left:100vw;
    right:-100vw;
    */
    @include translateX(100%);
  }
  100% {
    /*
    left:0%;
    right:0%;
    left:0vw;
    right:0vw;
    */
    @include translateX(0%);
  }
}
@include keyframes(hide_slide_item) {
  0% {
    /*
    left:0%;
    right:0%;
    left:0vw;
    right:0vw;
    */
    @include translateX(0%);
  }
  100% {
    /*
    left:-100%;
    right:100%;
    left:-100vw;
    right:100vw;
    */
    @include translateX(-100%);
  }
}