<article class="article" data-id="{{ include.param.id }}">
	<div class="article-container">
		<header class="header">
			<h1>
				<a href=".{{ include.param.url }}">
					<i class="fa fa-code"></i>
					<span>{{ include.param.title }}</span>
				</a>
			</h1>
		</header>
		<div class="main">
			<div class="container">
				{% if include.param.layout == "post" %}
					{{ include.param.excerpt }}
				{% else %}
					{{ content }}
				{% endif %}
			</div>
		</div>
		<footer class="footer">
			<div>
				
			</div>
		</footer>
	</div>
</article>

