<article class="article-card">
	<div class="container">
		<div class="thumbnail">
			<div class="container">
				{% if include.param.thumbnail %}
					<div class="background" style="background-image:url({{ include.param.thumbnail }});"></div>
				{% else %}
					<div class="background" style=""></div>
				{% endif %}
			</div>
		</div>
		<header class="header">
			<h1>
				{% if include.param.url %}
					<a href=".{{ include.param.url }}">{{ include.param.title }}</a>
				{% else %}
					<a>{{ include.param.title }}</a>
				{% endif %}
			</h1>
		</header>
		<div class="excerpt">
			<div class="container">
				{{ include.param.excerpt }}
			</div>
		</div>
	</div>
</article>
