{% assign shorttitle = include.param.title %}
{% if include.param.shorttitle %}
  {% assign shorttitle = include.param.shorttitle %}
{% endif %}
{% assign series = false %}
{% for catid in site.data.series_categories %}
  {% if include.param.categories contains catid %}
    {% assign series = site.data.series[catid] %}
  {% endif %}
{% endfor %}
<article class="article_card">
  <div class="container">
    <div class="thumbnail">
      <a class="image" style="background-image:url({{ include.param.thumbnail }});">
        <img src="{{ include.param.thumbnail }}"/>
      </a>
    </div>
    <header class="header">
      <div class="container">
        <div>
          <h1>
            <a>{{ shorttitle }}</a>
          </h1>
        </div>
      </div>
    </header>
    <footer class="footer">
      {% if series %}
        <div class="series">
          <h2>
            <a>{{ series.title }}</a>
          </h2>
        </div>
      {% endif %}
    </footer>
  </div>
</article>
