.article-card {
	padding:$article-card-margin;
	$padding-half:($article-card-padding / 2);
	>.container {
		width:$article-card-width;
		background-color:$article-card-background-color;
		font-size:$article-card-font-size;
		@include default-box-shadow;
		//overflow:hidden;
		@include word-break(break-all);
	}
	.thumbnail {
		>.container {
			position:relative;
			min-height:$article-card-thumbnail-height;
		}
		.background {
			position:absolute;
			top:0;left:0;right:0;bottom:0;
			@include background-size(cover);
			background-position:center center;
		}
	}
	.header{
		padding:$padding-half;
	}
	h1 {
		font-size:inherit;
		padding:$padding-half;
	}
	.excerpt {
		&,&>.container {
			padding:$padding-half;
		}
		p {
			&:first-child {
				margin-top:0;
			}
			&:last-child {
				margin-bottom:0;
			}
		}
	}
	&:first-child {
		.header {
			display:none;
		}
	}
	&:not(:first-child) {
		.excerpt {
			display:none;
		}
	}
}
