@import 'default_vars';

#header {
	>.container {
		max-width:$container-max-width;
		margin:0 auto;
	}
}
#nav {
	position:fixed;
	width:$nav-width;
	top:$header-height;
	bottom:$footer-height;
	left:50%;right:auto;
	margin-left:($container-max-width / 2);
	#links {
		margin:$nav-padding;
		&:first-child {
			//margin-top:0;
		}
		&:last-child {
			margin-bottom:0;
		}
	}
}
#single,
#articles {
	.article {
		padding:$article-margin;
	}
}
#single {
	max-width:$container-max-width;
	margin:0 auto;
	.article {
		
	}
}
#articles {
	max-width:$container-max-width;
	margin:0 auto;
	.article {
		&:first-child {
			//padding-top:0;
		}
	}
}
