@import 'compass';

$carrot:#e67e22;
$pumpkin:#d35400;
$sunflower:#f1c40f;
$wetasphalt:#34495e;
$turquoise:#1abc9c;
$orange:#f39c12;
$clouds:#ecf0f1;

$grid-size:20px;
$container-max-width:($grid-size * 45);
$nav-width:($grid-size * 12);
$two-column-width:($container-max-width + $nav-width);

$header-height:($grid-size * 5);
$footer-height:($grid-size * 2);

$article-background-color:#fff;
$article-main-border-color:#000;
$article-main-padding:($grid-size * 1);

$nav-padding:($grid-size * 1);

$links-background-color:$article-background-color;
$link-icon-color:#fff;
$link-icon-background-color:$carrot;
$link-border-bottom-color:#eee;
$link-height:($grid-size * 2);

@mixin cf {
	@include legacy-pie-clearfix;
}
@mixin default-box-shadow {
	@include single-box-shadow(rgba(0,0,0,.125),0,1px,3px);
}

