#header:before {
	position:fixed;
	top:0;left:0;right:0;
	bottom:auto;
}

#header #logo {
	& {
		position:fixed !important;
		bottom:auto;
		left:($grid-size * 5);
		right:auto;
		@include single-transition(top);
	}
	body:not([data-scroll-header]) & {
		top:-($logo-height + ($logo-width / 2));
	}
	body[data-scroll-header] & {
		top:0;
	}
}

#header #h1 {
	position:absolute;
	top:0;bottom:0;left:0;
	right:auto;
}

#articles {
	max-width:$container-max-width;
	margin:0 auto;
}

@import 'default_two_column';
