@media all and (min-width:1px) {
	
	$header-height:125px;
	$h1-width:$header-height;
	$h1-height:$h1-width;
	$h1-padding:10px;
	$wide-height:750px;
	
	$navitem-width:125px;
	
	#header,#footer {
		position:absolute;
		left:0;right:0;
	}
	#header {
		top:0;bottom:auto;
	}
	#footer {
		top:auto;bottom:0;
	}
	#main {
		position:relative;
		padding-top:$header-height;
	}
	
	#header {
		height:$header-height;
	}
	#h1 {
		$h1-real-width:($h1-width - ($h1-padding * 2));
		$h1-real-height:($h1-height - ($h1-padding * 2));
		.title {
			display:none;
		}
		&>a,& .icon {
			width:$h1-real-width;
			height:$h1-real-height;
		}
		>a {
			padding:$h1-padding;
			margin:0 auto;
		}
	}
	
	#nav {
	  .navitem {
	    width:$navitem-width;
	    padding:0 10px;
	    & {
	      //float:left;
	      display:inline-block;
	    }
	    &:last-child {
	      //@include cf;
	    }
	  }
	  >ul {
	    height:$navitem-height;
	    text-align:center;
	  }
	}
	
	#home {
		margin-top:-($header-height);
	}
	#home #wide {
		>.container {
			height:$wide-height;
		}
		.sheep {
			$size:700px;
			width:$size;
			height:$size;
			@include transform( rotate( -(90deg / 2.75) ) scale(-1,1) );
			$position:($size / 2);
			left:-($position);
			bottom:-($position);
		}
	}
	
}
