@import 'compass';

$default-transition-duration:.5s;

$carrot:#e67e22;
$pumpkin:#d35400;
$sunflower:#f1c40f;
$wetasphalt:#34495e;
$turquoise:#1abc9c;
$orange:#f39c12;
$clouds:#ecf0f1;
$peterriver:#3498db;
