@import 'compass';

$default-transition-duration:.25s;

$carrot:#e67e22;
$pumpkin:#d35400;
$sunflower:#f1c40f;
$wetasphalt:#34495e;
$turquoise:#1abc9c;
$orange:#f39c12;
$clouds:#ecf0f1;
$peterriver:#3498db;

$logo-background-color:$carrot;
$header-background-color:#000;
$header-text-color:#fff;
$header-h1-border-color:$header-text-color;

$pc-content-width:   1000px;
$pc-left-width:      300px;
$pc-right-width:     $pc-left-width;
$pc-header-height:   75px;
$pc-logo-size:       $pc-header-height;
$pc-logo-padding:    15px;
$pc-navitem-height:  30px;
$pc-navitem-padding: 5px;

@mixin cf {
  &:after {
    display:block;
    content:'.';
    //float:none;
    clear:both;
    
    font-size:0;
    color:transparent;
    background-color:transparent;
    width:0;height:0;
    overflow:hidden;
  }
}

@mixin header-content-width($content-width) {
  #header {
    >.container {
      >.left,
      >.right {
        position:absolute;
        top:0;bottom:0;
        left:0;right:0;
        margin:0;
      }
      $half-content-width:($content-width / 2);
      >.left {
        right:50%;
        margin-right:$half-content-width;
      }
      >.right {
        left:50%;
        margin-left:$half-content-width;
      }
    }
  }
}

@function get-viewport-width($content-width,$left-width,$right-width) {
  @return $content-width + $left-width + $right-width;
}

@mixin header-height($header-height,$is-fixed) {
  #header {
    @if $is-fixed {
      position:fixed;
      top:0;
      left:0;right:0;
      bottom:auto;
    }
    >.container {
      height:$header-height;
      >.left {
        .h1-wrapper {
          $padding:20px;
          padding:$padding 0;
          h1 {
            line-height:($header-height - ($padding * 2));
          }
        }
      }
    }
  }
  #main {
    >.container {
      @if $is-fixed {
        padding-top:$header-height;
      }
    }
  }
}

@mixin logo-size($size,$padding) {
  $realsize:($size - ($padding * 2));
  .logo {
    & {
      padding:$padding;
    }
    &,&>.container {
      width:$realsize;
      height:$realsize;
    }
  }
  #header {
    >.container {
      >.left .h1-wrapper h1 {
        padding:0 $padding;
      }
    }
  }
}

@mixin navitem-height($height,$padding,$is-card) {
  .navitem {
    >.container {
      height:$height;
      line-height:$height;
      .icon {
        width:$height;
        height:$height;
      }
      .text {
        padding:0 $padding;
      }
    }
   }
  @if $is-card {
    .navitem {
      >.container {
        padding-left:$height;
      }
    }
  } @else {
    .navitem {
      & {
        float:left;
      }
      &:last-child {
      @include cf;
      }
      >.container .icon {
        display:none;
      }
    }
    .nav {
      >.container {
        height:$height;
      }
    }
  }
}
