@import 'vars';

html,body {
	height:100%;
}
body {
	font-family:
		'Lucida Grande',
		'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',
		'Meiryo','メイリオ',
		sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}

a {
	color:inherit;
	text-decoration:inherit;
}

#h1 {
	&,&>a {
		display:block;
	}
	& {
		margin:0;
	}
	.icon {
		img {
			display:none;
		}
		&,& img {
			
		}
		& {
			display:block;
			background-image:url('../img/blanketsheep.white.bt.512.png');
			@include background-size(contain);
			background-position:center;
			background-repeat:no-repeat;
		}
	}
	.title {
		
	}
}

#nav {
	>ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	.navitem {
		&,&>a {
			display:block;
		}
		& {
			list-style-type:none;
		}
		>a {
      position:relative;
      padding-left:$navitem-icon-width;
      height:$navitem-height;
			line-height:$navitem-height;
			color:$navitem-color;
		  background-color:$navitem-background-color;
		}
		.fa,
	  .name {
	    display:block;
	  }
		.fa {
			position:absolute;
	    width:$navitem-icon-width;
	    line-height:inherit;
	    text-align:center;
	    top:0;left:0;bottom:0;
	    right:auto;
	    color:$navitem-icon-color;
      background-color:$navitem-icon-background-color;
		}
		.name {
			padding:0 10px;
			text-align:initial;
		}
	}
}

#home {
	#wide {
		background-color:$peterriver;
		&,&>.container {
			position:relative;
		}
		& {
			overflow:hidden;
		}
		.sheep {
			position:absolute;
			top:auto;right:auto;
			left:0;bottom:0;
			background-image:url('../img/blanketsheep.512.png');
			@include background-size(contain);
			background-position:center;
			background-repeat:no-repeat;
		}
	}
}

@import 'position';
@import 'z_index';
