@import 'default_vars';

html,body {
	height:100%;
}
body {
	color:$color;
	background-color:$background-color;
	font-family:
		'Lucida Grande',
		'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',
		'Meiryo','メイリオ',
		sans-serif;
	//background-image:url('../img/photography/photography.png');
	//background-image:url('http://subtlepatterns.com/patterns/sativa.png');
	//background-image:url('http://subtlepatterns.com/patterns/diagonales_decalees.png');
	//background-image:url('http://subtlepatterns.com/patterns/gplaypattern.png');
}
#wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	margin:0;
}
a {
	color:inherit;
	text-decoration:inherit;
}

#header,
#footer {
	position:absolute;
	left:0;right:0;
}
#header {
	top:0;bottom:auto;
	background-color:$header-background-color;
	>.container {
		//background-color:$header-background-color;
		height:$header-height;
	}
	#logo,
	#h1-logo {
		position:relative;
		&,& a {
			display:block;
		}
		a {
			position:relative;
		}
		.icon,
		.title {
			display:block;
		}
		.icon {
			position:absolute;
			top:0;left:0;bottom:0;
			right:auto;
			$padding:$logo-padding;
			border:solid $padding transparent;
			background-position:center center;
			@include background-size(contain);
			background-repeat:no-repeat;
			background-image:url('../img/blanketsheep.white.bt.512.png');
			img {
				display:none;
			}
		}
		&:not(:hover) {
			a {
				background-color:$logo-background-color;
			}
		}
		&:hover {
			a {
				background-color:$logo-hover-background-color;
			}
		}
	}
	#logo {
		@include logo-size($logo-width,$logo-height);
		.title {
			display:none;
		}
		&:before {
			$border-width:($logo-width / 2);
			display:block;
			content:'';
			width:0;height:0;
			overflow:hidden;
			border-style:none;
			border-width:$border-width;
			border-color:transparent;
			border-style:solid;
			//@include rotate(90deg);
			width:($logo-width - ($border-width * 2));
			position:absolute;
			left:0;right:0;
			margin-bottom:-($border-width);
			& {
				top:auto;
				bottom:0;
			}
			& {
				//display:none;
			}
		}
		&:not(:hover) {
			&:before {
				border-left-color:$logo-background-color;
				border-right-color:$logo-background-color;
			}
		}
		&:hover {
			&:before {
				border-left-color:$logo-hover-background-color;
				border-right-color:$logo-hover-background-color;
			}
		}
	}
	#h1-logo {
		@include logo-size($h1-width,$h1-height);
	}
}
#footer {
	height:$footer-height;
	top:auto;bottom:0;
}
#nav {
	#links {
		list-style-type:none;
		margin:0;padding:0;
		background-color:$links-background-color;
		@include default-box-shadow;
		li {
			&,& a {
				display:block;
			}
			a {
				position:relative;
				padding-left:$link-height;
			}
			height:$link-height;
			line-height:$link-height;
			&:not(:last-child) {
				border-bottom:solid 1px $link-border-bottom-color;
			}
			i {
				display:block;
				position:absolute;
				top:0;left:0;bottom:0;
				right:auto;
				width:$link-height;
				height:$link-height;
				color:$link-icon-color;
				background-color:$link-icon-background-color;
				line-height:inherit;
				text-align:center;
			}
			span {
				display:block;
				padding-left:.5em;
				&:first-letter {
					color:red;
				}
			}
		}
	}
}
#article_aside {
	#place {
		background-color:$place-background-color;
		@include default-box-shadow;
		$padding:($grid-size / 4);
		.thumbnail {
			
		}
		.main {
			padding:$padding;
		}
		h1,p {
			margin:0;
			padding:$padding;
		}
		h1 {
			font-size:1.25em;
			font-weight:inherit;
		}
		p {
			font-size:$place-font-size;
		}
	}
}

#main {	
	padding-top:$header-height;
	padding-bottom:$footer-height;
}
/*
#image {
	height:$image-height;
	background-position:center center;
	@include background-size(cover);
	background-image:url('../img/the-road-6.jpg');
}
*/

.article {
	.article-container {
		background-color:$article-background-color;
		@include default-box-shadow;
	}
	.header {
		padding:$article-main-padding;
		h1 {
			text-align:center;
		}
	}
	.article-container>.main {
		font-size:$article-font-size;
		&,&>.container {
			padding:$article-main-padding;
		}
		>.container {
			//border:solid 1px $article-main-border-color;
		}
	}
}

@import 'z_index';
@import 'writer_info';

@media all and (min-width:$layout-pc-max-width) {
	@import 'default_two_column';
}
