@import 'default_vars';

.article {
	padding:0 !important;
	.article-container {
		@include single-box-shadow(none);
		background-color:transparent;
		>.main {
			>.container {
				
			}
		}
	}
}
#single {
	>.thumbnail {
		min-height:400px;
		position:relative;
		.background {
			position:absolute;
			top:0;left:0;right:0;bottom:0;
			background-position:center center;
			@include background-size(cover);
		}
	}
}
//.article .article-container,
//#single>.thumbnail .background {
#single {
	@media all and (min-width:$layout-pc-max-width) {
		max-width:$container-max-width;
		margin:0 auto;
		background-color:$article-background-color;
		@include default-box-shadow;
	}
}
@media all and (min-width:$layout-pc-max-width) {
	#h1 {
		/*
		.sub,.title {
			display:none;
		}
		*/
		& {
			display:none;
		}
	}
	#logo {
		top:0 !important;
	}
}
