---
---
#mainborder
div#letter
  div#letter_thankyou
    div.container
      div.card
        div.container
          - imgPath = url_for('/images/blanketsheep.color.png')
          /- imgPath = url_for('/images/blanketsheep.png')
          - style = "background-image:url(" + imgPath + ");"
          div.background style=style
          div.main
            h1
              span= "八王子ウェブマガジンに"
              span= "興味を持ってくださり"
              span= "ありがとうございます"
            p
              = "親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。"
  div#letter_form
    div.container
      div.form
        div.container
          iframe src="https://docs.google.com/forms/d/1CZKHWmfgD4LQDaBp1WrqIrTQKQLysIeBX1EtVAh5rzw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"