<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="./components/necolas-normalize.css/normalize.css"/>
    <link rel="stylesheet" href="./css/default.css"/>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <h1 id="h1">
            <a href="/">
              <span>これは</span>
              <span>タイトル</span>
            </a>
          </h1>
          <div id="right">
            <div id="photoframe">
              <div class="container">
                
              </div>
            </div>
            <nav id="nav">
              <div class="container">
                
              </div>
            </nav>
          </div>
        </div>
      </header>
      <div></div>
      <footer>
        
      </footer>
    </div>
  </body>
</html>
